/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media (min-width: 768px) {
  /* line 9, ../sass/screen.scss */
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left: 0;
    padding-right: 0;
  }

  /* line 17, ../sass/screen.scss */
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  /* line 23, ../sass/screen.scss */
  .navbar-collapse.in {
    overflow-x: visible;
  }

  /* line 27, ../sass/screen.scss */
  .navbar {
    max-width: 300px;
    margin-right: 0;
    margin-left: 0;
  }

  /* line 34, ../sass/screen.scss */
  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header {
    float: none !important;
  }

  /* line 41, ../sass/screen.scss */
  .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }

  /* line 42, ../sass/screen.scss */
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
