/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* CSS used here will be applied after bootstrap.css */
/* line 18, ../sass/_variables.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

/* line 2, ../sass/_header.scss */
header .navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background: transparent;
}
/* line 10, ../sass/_header.scss */
header .navbar-fixed-left .navbar-nav > li {
  float: none;
}
/* line 15, ../sass/_header.scss */
header li a {
  font-size: 1.5rem;
  margin: 15px 0;
  color: white;
  transition: 0.5s;
}
/* line 21, ../sass/_header.scss */
header li a:hover {
  font-size: 1.6rem;
  color: white;
  text-decoration: none !important;
}
@media (max-width: 991.98px) {
  /* line 1, ../sass/_header.scss */
  header {
    display: none;
  }
}
@media (max-width: 767.98px) {
  /* line 1, ../sass/_header.scss */
  header {
    display: none;
  }
}

/* line 2, ../sass/_main.scss */
main section.home {
  background-image: url("../resources/bg-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 9, ../sass/_main.scss */
main section.home h1 {
  border-left: 2px solid #fd2800;
  padding: 15px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
