/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 18, ../sass/_variables.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

/* line 3, ../sass/_header.scss */
header nav.navbar {
  background: #010b14 !important;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
}
/* line 12, ../sass/_header.scss */
header nav.navbar .navbar-brand {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

/* line 3, ../sass/_main.scss */
main section.calltoaction {
  height: 100vh;
  background-image: url("../resources/bg-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 12, ../sass/_main.scss */
main section.calltoaction h1 {
  border-left: 2px solid #fd2800;
  padding: 15px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 200px !important;
  color: #ffffff;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
/* line 27, ../sass/_main.scss */
main section.calltoaction a {
  margin-top: 20px !important;
  border: solid 2px #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: all 1s;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}
/* line 40, ../sass/_main.scss */
main section.calltoaction a:hover {
  border-radius: 0px;
  text-decoration: none;
  border-color: #fd2800;
  color: #fd2800;
}
/* line 48, ../sass/_main.scss */
main section.calltoaction .scroller {
  margin-top: 200px;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 40px;
  height: 65px;
  border: 4px solid #fff;
  border-radius: 30px;
}
/* line 60, ../sass/_main.scss */
main section.calltoaction .scroller::after {
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
  animation: 1200ms ease 0ms forwards infinite scroll;
  content: "";
}
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}
@keyframes scroll {
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 10px, 0);
    transform: translate3d(-50%, 10px, 0);
    opacity: 0;
  }
}
/* line 101, ../sass/_main.scss */
main section.works {
  background-color: #010b14;
  color: #ffffff;
}
/* line 105, ../sass/_main.scss */
main section.works h1 {
  margin-top: 25px;
  border-left: 2px solid #fd2800;
  padding: 15px;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
/* line 115, ../sass/_main.scss */
main section.works .work-1 {
  height: 350px;
  background-image: url("../resources/work1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
/* line 134, ../sass/_main.scss */
main section.works .work-1:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 140, ../sass/_main.scss */
main section.works .work-2 {
  height: 350px;
  background-image: url("../resources/work2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all .5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
/* line 159, ../sass/_main.scss */
main section.works .work-2:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 166, ../sass/_main.scss */
main section.employees {
  padding: 25px 0;
  background-image: url("../resources/working.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 174, ../sass/_main.scss */
main section.employees h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fd2800;
}
/* line 183, ../sass/_main.scss */
main section.employees form label {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fd2800;
}
/* line 189, ../sass/_main.scss */
main section.employees form input {
  border-color: #fd2800;
}
/* line 192, ../sass/_main.scss */
main section.employees form input:focus {
  border-color: #fd2800;
  box-shadow: none;
}
/* line 198, ../sass/_main.scss */
main section.employees form textarea {
  border-color: #fd2800;
}
/* line 201, ../sass/_main.scss */
main section.employees form textarea:focus {
  border-color: #fd2800;
  box-shadow: none;
}
/* line 207, ../sass/_main.scss */
main section.employees form button {
  background: #fd2800;
  border-color: #fd2800;
  transition: .5s;
}
/* line 212, ../sass/_main.scss */
main section.employees form button:hover {
  background: transparent;
  border-color: #fd2800;
  color: #fd2800;
}

/* line 1, ../sass/_footer.scss */
footer {
  background-color: #010b14;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
/* line 10, ../sass/_footer.scss */
footer a.footer-color {
  text-decoration: none;
  color: #fd2800 !important;
}
/* line 14, ../sass/_footer.scss */
footer a.footer-color:hover {
  color: #fd2800 !important;
}
/* line 19, ../sass/_footer.scss */
footer h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
/* line 25, ../sass/_footer.scss */
footer .footer-left, footer .footer-center, footer .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* line 30, ../sass/_footer.scss */
footer .footer-left {
  width: 40%;
}
/* line 34, ../sass/_footer.scss */
footer .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
/* line 39, ../sass/_footer.scss */
footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
/* line 47, ../sass/_footer.scss */
footer .footer-copy {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* line 54, ../sass/_footer.scss */
footer .footer-center {
  width: 35%;
}
/* line 57, ../sass/_footer.scss */
footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
/* line 69, ../sass/_footer.scss */
footer .footer-center i .fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
/* line 75, ../sass/_footer.scss */
footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
/* line 81, ../sass/_footer.scss */
footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
/* line 90, ../sass/_footer.scss */
footer .footer-right {
  width: 20%;
}
/* line 94, ../sass/_footer.scss */
footer .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
/* line 101, ../sass/_footer.scss */
footer .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 110, ../sass/_footer.scss */
footer .footer-icons {
  margin-top: 25px;
}

@media (max-width: 991.98px) {
  /* line 121, ../sass/_footer.scss */
  .vsfooter .footer-left,
  .vsfooter .footer-center,
  .vsfooter .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  /* line 130, ../sass/_footer.scss */
  .vsfooter .footer-center i {
    margin-left: 0;
  }
}
