header{

    nav.navbar {
        background: $second !important;
        -o-transition: all .6s;
        -moz-transition: all .6s;
        -webkit-transition: all .6s;
        -ms-transition: all .6s;
        transition: all .6s;
        backface-visibility: hidden;   
        
        .navbar-brand {
            left: 50%;
            position: relative;
            transform: translateX(-50%);
        }
    }     
    
}