main{

    section.calltoaction{
        // width: 100%;
        height: 100vh;
        background-image: url('../resources/bg-1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            border-left: 2px solid $fifth;
            padding: 15px;
            font-size: 3rem;
            font-family: $montserrat;
            font-weight: bold;
            margin-top: 200px !important;
            color: $fourth;
            text-shadow:
            -1px -1px 0 $fourth,  
            1px -1px 0 $fourth,
            -1px 1px 0 $fourth,
            1px 1px 0 $fourth;
        }

        a{
            margin-top: 20px !important;
            border: solid 2px $fourth;
            border-radius: 5px;
            padding: 5px 10px;
            text-align: center;
            color: $fourth;
            text-decoration: none;
            transition: all 1s;
            font-family: $raleway;
            font-size: 1.3rem;
            font-weight: bold;

                &:hover{
                    border-radius: 0px;
                    text-decoration: none;
                    border-color: $fifth;
                    color: $fifth;
                }
        }       

        .scroller {
            margin-top: 200px;
            bottom: 20px;
            left: 50%;
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
            width: 40px;
            height: 65px;
            border: 4px solid #fff;
            border-radius: 30px;
          }

        .scroller::after {
            position: absolute;
            top: 12px;
            left: 50%;
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: #fff;
            -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
            animation: 1200ms ease 0ms forwards infinite scroll;
            content: "";
        }
          
          
        @-webkit-keyframes scroll {
            from {
                -webkit-transform: translate3d(-50%, 0, 0);
                transform: translate3d(-50%, 0, 0);
            }
            to {
                -webkit-transform: translate3d(-50%, 10px, 0);
                transform: translate3d(-50%, 10px, 0);
                opacity: 0;
            }
        }
        
        @keyframes scroll {
            from {
                -webkit-transform: translate3d(-50%, 0, 0);
                transform: translate3d(-50%, 0, 0);
            }
            to {
                -webkit-transform: translate3d(-50%, 10px, 0);
                transform: translate3d(-50%, 10px, 0);
                opacity: 0;
            }
        }
    }

    section.works{
        background-color: $second;
        color: $fourth;

        h1{
            margin-top: 25px;
            border-left: 2px solid $fifth;
            padding: 15px;
            font-size: 3rem;
            font-family: $montserrat;
            font-weight: bold;
        }


        .work-1{
            height: 350px;
            background-image: url('../resources/work1.jpg');
            // background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all .5s;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: $raleway;
            font-size: 2rem;
            font-weight: bold;
            
            &:hover{
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        }

        .work-2{
            height: 350px;
            background-image: url('../resources/work2.jpg');
            // background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: all .5s;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: $raleway;
            font-size: 2rem;
            font-weight: bold;
            
            &:hover{
                -webkit-filter: grayscale(0%);
                filter: grayscale(0%);
            }
        }
    }

    section.employees{
        padding: 25px 0;
        background-image: url('../resources/working.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            font-size: 3rem;
            font-family: $montserrat;
            font-weight: bold;
            color: $fifth;
        }

        form{

            label{
                font-family: $montserrat;
                font-weight: bold;
                color: $fifth;
            }

            input{
                border-color: $fifth;

                &:focus{
                    border-color: $fifth;
                    box-shadow: none;
                }
            }

            textarea{
                border-color: $fifth;

                &:focus{
                    border-color: $fifth;
                    box-shadow: none;
                }
            }

            button{
                background: $fifth;
                border-color: $fifth;
                transition: .5s;

                &:hover{
                    background: transparent;
                    border-color: $fifth;
                    color: $fifth;
                }
            }
        }
    }
}