main{
    section.home{
        background-image: url('../resources/bg-1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            border-left: 2px solid $fifth;
            padding: 15px;
            font-size: 3rem;
            font-family: $montserrat;
            font-weight: bold;
        }
    }
}