@import url('https://fonts.googleapis.com/css?family=Hind|Roboto+Condensed');

/* FORMATEOS */
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
    box-sizing: border-box;
    font-family: 'Hind', sans-serif;
}

textarea {
    resize: none;
}


/* HEADER */
#pre-nav{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #D22630;
}

#pre-nav a{
    color: white;
}

#pre-nav #phone{
    margin-left: 9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pre-nav #lenguaje{
    margin-right: 9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pre-nav #phone i{
    margin-right: 0.5em;
}

#pre-nav #lenguaje i{
    margin-right: 0.5em;
}

#pre-nav #lenguaje select{
    margin-right: 1em;
}

header select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    appearance: none !important;
	cursor: pointer;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 15px;
    padding: 2px 5px;
}

header select option:hover{
    background-color: #D22630;
}

header input{
    width: 100px;
    background-color: black;
    color: white;
    border: solid 1px white;
    border-radius: 15px;
    padding: 2px 5px;
    transition: 2s;
}

header input:focus{
    border-color: #D22630;
    width: 150px;
}

/* Nav */
#logo{
    height: 7em;
    width: 7.5em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d22630;
}

nav div#navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #navegacion a{
    margin-left: 2em;
    color: white;
    text-transform: uppercase;
    transition: 1s;
}

nav #navegacion a:hover{
    color: black;
}

div#subheader{
    width: 100%;
    background-color: black;
}

div#subheader h3{
    margin-left: 10%;
    padding: 10px 0;
    color: white;
    font-size: 1.5rem;
}

/* MAIN */
section#slider{
    width: 100%;
    height: 50vh;
    background: url("../img/bg-wine.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#content{
    margin-left: 9em;
}

div#content h2{
    font-size: 3rem;
}

section#info{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

section#info h2{
    font-size: 3rem;
    color: #D22630;
}

section#info img{
    margin: 30px auto;
    width: 60%;
}

section#info p{
    margin: 0 9em;
}

section#info h2{
    padding: 25px 0;
}

section#productos{
    text-align: center;
    background-color: #8F1A21;
}

div#tarjetas{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

section#productos h3{
    font-size: 3rem;
    padding-top: 15px;
}

div.producto{
    width: 300px;
    height: 350px;
    padding: 25px;
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.322);
    transition: 1s;
}

div.producto:hover{
    width: 301px;
    height: 351px;
    -webkit-box-shadow: 2px 2px 37px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 37px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 37px 2px rgba(0,0,0,0.75);
}


div.producto h3{
    font-size: 2rem !important;
}

div.producto img{
    width: 140px;
    height: 140px;
    margin: 25px 0;
}

section#contacto{
    text-align: center;
    background-color: black;
    color: white;
}

section#contacto h3{
    font-size: 3rem;
    padding: 25px 0;
}

section#contacto input,section#contacto textarea{
    background-color:black;
    border: solid 1px white;
    border-radius: 15px;
    padding: 8px;
    color: white;
}

section#contacto input:focus,section#contacto textarea:focus{
    border-color: #D22630;
}

section#contacto input:hover,section#contacto textarea:hover{
    border-color: #D22630;
}

section#contacto input[type="submit"]{
    width: 150px;
    margin: 25px 0;
    transition: 1s;
}

section#contacto input[type="submit"]:hover{
    width: 200px;
    background-color: #D22630;
}

section#contacto form{
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

/* MAIN - SERVICIOS */
section#servicios{
    text-align: center;
    width: 100%;
    background-color: #f7f7f8;
    padding: 30px 0;
    margin: 0 auto;
}

section#servicios p{
    margin: 0 10%;
}

section#servicios h3{
    font-size: 2rem;
}

div#card-servicios{
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.servicio{
    width: 300px;
    border-radius: 15px;
    -webkit-box-shadow: -2px 2px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 16px 0px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 16px 0px rgba(0,0,0,0.75);
    transition: 1s;
}

div.servicio:hover{
    -webkit-box-shadow: -2px 2px 22px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 22px 3px rgba(0,0,0,0.75);
    box-shadow: -2px 2px 22px 3px rgba(0,0,0,0.75);
}

div.servicio img{
    width: 140px;
    height: 140px;
    margin: 15px 0;
}

section#video{
    padding: 35px 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

section#video h2{
    margin-bottom: 10px;
}


/* MAIN - SOBRE NOSOTROS */

section#descripcion{
    width: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

div.desc-image{
    flex: 1;
    margin-left: 9em;
}

div.desc-texto{
    flex: 2;
    margin-right: 9em;
}
div.desc-image img{
    width: 380px;
    margin-right: 15px;
}

/* MAIN - GALERIA */

section#galeria{
    text-align: center;
    font-size: 2rem;
    padding: 25px 0;
}

section#galeria img{
    width: 320px;
}

section#map{
    margin: 0;
    padding: 0;
}

section#map iframe{
    width: 100%;
    margin-bottom: -15px;
}

section#contact{
    padding: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section#contact form{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

section#contact input[type="text"],section#contact input[type="email"],
section#contact textarea{
    border: solid 1px black;
    border-radius: 15px;
    padding: 8px;
    color: black;
}

section#contact input[type="text"]:hover,section#contact input[type="email"]:hover,
section#contact textarea:hover{
    border-color: #D22630;
}

section#contact input[type="text"]:focus,section#contact input[type="email"]:focus,
section#contact textarea:focus{
    border-color: #D22630;
}

section#contact input[type="submit"]{
    border: solid 1px black;
    border-radius: 15px;
    width: 150px;
    margin: 25px 0;
    transition: 1s;
    background-color: white;
    padding: 5px;
}

section#contact input[type="submit"]:hover{
    width: 200px;
    background-color: #D22630;
}

.datos{
    text-align: center;
}

.datos p{
    margin: 15px 0;
}

.datos i{
    font-size: 1.5rem;
    border: solid 1px #D22630;
    background-color: #D22630;
    color: white;
    padding: 15px;
    border-radius: 100%;
}

/* MAIN - REGISTRO/INICIO */

section#forms{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

section#forms div{
    width: 400px;
    border: solid 1px black;
    padding: 25px;
    border-radius: 25px;
    box-sizing: border-box;
}

section#forms div form div{
    border: white;
}

form h3{
    text-transform: uppercase;
}
div.inicio form{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

div.registro form{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    text-align: left;
}

section#forms form input[type="text"]{

}

section#forms input[type="text"],section#forms input[type="email"],
section#forms input[type="password"],section#forms input[type="date"]{
    border: solid 1px black;
    border-radius: 15px;
    padding: 8px;
    color: black;
}

section#forms input[type="text"]:hover,section#forms input[type="email"]:hover,
section#forms input[type="password"]:hover,section#forms input[type="date"]:hover{
    border-color: #D22630;
}

section#forms input[type="text"]:focus,section#forms input[type="email"]:focus{
    border-color: #D22630;
}

section#forms input[type="submit"]{
    border: solid 1px black;
    border-radius: 15px;
    width: 150px;
    margin: 25px 0;
    transition: 1s;
    background-color: white;
    padding: 5px;
}

section#forms input[type="submit"]:hover{
    width: 200px;
    background-color: #D22630;
}
/* FOOTER */

footer{
    width: 100%;
    height: 20vh;
    background-color: #D22630;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


footer a{
    color: black;
    text-transform: uppercase;
}

footer div#nav2{
    margin-left: 10%;
}

footer div#copy{
    width: 30%;
}

footer div#rrss{
    margin-right: 10%;
    font-size: 2rem;
    text-align: center;
}

footer i:hover{
    color: White;
}

footer a:hover{
    color: White;
}

/* MEDIA QUERIES */

@media (max-width: 990px) {
    nav{
        display: flex;
        flex-direction: column;
    }

    div#tarjetas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .producto{
        width: 80% !important;
        margin: 15px 0;
    }

    div#card-servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicio{
        width: 80% !important;
        margin: 15px 0;
    }

    section#descripcion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    div.desc-texto{
        width: 80% !important;
        margin: 0;
    }
    
    div.desc-image{
        width: 80% !important;
        margin: 0;
    }

    div.datos{
        display: none;
    }

    section#forms{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}